body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.navprincipal {
    grid-area: navprincipal;
    display: flex;
    background-color: #00579c;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 40px;
    font-weight: 700;
}

.burger {
    background-color: #00579c;
    border: none;
    cursor: pointer;
}

form {
    grid-area: filtros;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #e2e2e2;
    font-size: large;
    font-weight: 600;
}

select {
    width: 100%;
}

article {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: solid 1px silver;
    margin: 5px;
}

article img {
    width: 200px;
}

.btnproduct {
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: #00579c;
    width: 50%;
    display: block;
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

.producto5 {
    grid-area: producto5;
}

.producto6 {
    grid-area: producto6;
}

.producto7 {
    grid-area: producto7;
}

.producto8 {
    grid-area: producto8;
}

.paginacion {
    grid-area: paginas;
}

i {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    margin: 4px;
    font-size: 20px;
}

footer {
    grid-area: pie;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #052e66;
    color: white;
    font-weight: 600;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 7% 68% 5% 10%;
    grid-template-columns: 100%;
    grid-template-areas:
        "navprincipal"
        "filtros"
        "producto1"
        "paginas"
        "pie"
}

@media (max-width: 576px) {
    .navprincipal p {
        display: none;
    }

    article {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        border: solid 1px silver;
        margin: 15px;
        font-size: 20px;
    }

    article img {
        width: 300px;
    }

    .btnproduct {
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        background-color: #00579c;
        width: 75%;
        display: block;
    }

    .producto2 {
        display: none;
    }

    .producto3 {
        display: none;
    }

    .producto4 {
        display: none;
    }

    .producto5 {
        display: none;
    }

    .producto6 {
        display: none;
    }

    .producto7 {
        display: none;
    }

    .producto8 {
        display: none;
    }
}

@media (min-width: 576px) {
    .grid-container {
        display: grid;
        height: 100vh;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 10% 40% 40% 10%;
        column-gap: 0px;
        grid-template-areas:
            "navprincipal filtros filtros filtros filtros"
            "navprincipal producto1 producto2 producto3 producto4"
            "navprincipal producto5 producto6 producto7 producto8"
            "pie  paginas  paginas  paginas paginas"
    }

    .navprincipal {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: start;
    }

    .navprincipal p {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .burger {
        display: none;
    }

    .navprincipal p {
        cursor: pointer;
    }

    .paginacion {
        margin-top: 20px;
    }
}